@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../design-system/tokens.css";
@import "../design-system/components.css";

body {
  font-family: Tahoma, Arial, sans-serif;
  direction: rtl;
  text-align: start;
}
